.all-of-div{
    margin-bottom: 40px;
}
.header-div{
    margin-top: 70px;
    width: 70%;
    height: 200px;
    margin-left: 20%;
    margin-right: 8%;
    display: inline-block;
}

.all-module-div{

    width: auto;
    height:max-content;
    margin-left: 20%;
    margin-right: 20%; 
}
.module-div{
    background-color: #ffffff;
    display: block;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 1px 1px 7px 3px rgba(184, 184, 184, 0.26);
}
input{
    
    outline: none;
    border: none;
    border-bottom: 3px solid rgba(79, 79, 80, 0.692);
}

 .des1-input:focus{
    border-bottom: 5px solid #ffcd1f;
 } 
 .title-input:focus{
    border-bottom: 5px solid #ffcd1f;
}

.title-input{
    background-color: #f4f6fd;
    height: 30px;
    width: 70%;
    margin-left: 20px;
    
}
.des1-input{
    margin-left: 20px;
    background-color: #f4f6fd;
    height: 30px;
    width: 70%;
}
.h13{ 
    color: #939bba;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 20px;
}
.add-button{
    box-shadow: 1px 1px 7px 3px rgba(184, 184, 184, 0.26);
    padding: 1px;
    height: 100px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 15px;
    background-color: white;
    height: 100px;
    margin: auto;
    width: 60%;
    align-content: center;
    margin-top: 20px;
    color: #939bb4;
}
.add{
    
    margin: auto;
    background-image: url(plus-x.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.add-button:hover{
    transition: 300ms;
    color: #ffcd1f;
}
.add-button:hover .add{
    transition: 300ms;
    background-image: url(./plus-x-2.png);
}
.save-button{
    font-weight: 700;
    font-size: 25px;
    color: white;
    border: none;
    background: #3CCFCF;
    cursor: pointer;
    bottom: 15px;
    border-radius: 15px;
    width: 200px;
    height: 75px;
    margin-top: 30px;
}
.add-place-of-moduleIn{
    position: absolute;
    padding-bottom: 20px;
    right: 20%;
    
}
.validation-message-barla-or-something-else{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #ff715b1a;
    border: 2px solid #ff725b;
    width: 60%;
    margin: auto;
    color: red;
}
@media only screen and (max-width: 1402px) {
    .validation-message-barla-or-something-else{
        width: 60%;
        margin: auto;
    }
    .h13{ 
        
        font-size: 15px;
    }
    
    .term-and-others{
        display: block;
    }
    .title-input{
        height: 30px;
        width: 100%;
        
    }
    .des1-input{
        height: 30px;
        width: 100%;
    }
    .add-place-of-moduleIn{
        position: absolute;
        right: 20%;
        width: 60%;
        margin: auto;
    }
   
    .header-div{
        margin-top: 70px;
        width: 50%;
        height: 200px;
        margin-left: 20%;
        
    }
    .add-button{
        margin: auto;
        width: 60%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .save-button{
        width: 100%;
        margin: auto;
        
    }
  }
  @media only screen and (max-width: 750px){
    .validation-message-barla-or-something-else{
        width: 90%;
        margin: auto;
    }
    .add-place-of-moduleIn{
        position: absolute;
        right: 5%;
        width: 90%;
        margin: auto;
    }
    .add-button{
        margin: auto;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .save-button{
        width: 100%;
        margin: auto;
    }
    .all-module-div{
        width: 90%;
        height:max-content;
        margin: auto;
      
    }
    .header-div{
        margin-top: 70px;
        width: 87%;
        height: 200px;
        margin: auto;
    }
  }
 