.bg-modal-div{
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 79, 79, 0.226);
    justify-content: center;
    align-items: center;
}
.h1-modal{
    margin-left: 30px;
    color:  #1e6ace;
}
.moadal-div{
    margin-top: -100px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 500px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    
}
.btn-modal-2{
    margin: auto;
}

@media only screen and (max-width:765px){
    .moadal-div{
        width: 80%;
    }
    
} 
.inputs-div{
    margin-left: 30px;
    display: block;
}
.folder-name-input{
    border-bottom: 3px solid #1e6ace;
    width: 60%;
    height: 35px;
}
.folder-name-input:focus{
    border-bottom: 5px solid #ffcd1f;
}
.folder-description-input:focus{
    border-bottom: 5px solid #ffcd1f;
}
.folder-description-input{
    height: 35px;
    border-bottom: 3px solid #1e6ace;
    margin-top: 40px;
    width: 60%;
}
.cross-btn-modal{
    padding: 2px;
    padding: 10px;
    border: 2px solid #e3e6ee;
    background-image: url(./cross-icon-2.png);
    background-size: cover;
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    right: 10px;
    top: 10px;
}
.save-button-modal{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0.6rem;
    background-color: #1e6ace;
    border-radius: 10px;
    color: white;

}
.save-button-modal:hover{
    background-color: #1e62b9;
}
.save-button-modal:checked{
    border: 1px solid #1e6ace ;
    background-color: white;
}


@media only screen and (max-width:470px){
    .modal-list-app-23{
        margin-left: 5%;
    }
}