.emeil_input{
    margin-left: 15px;
    color: red;
}
.password_input{
    margin-left: 5px;
    color: red;
}
.input-input--invalid{
    border: 1px solid red;
}

.emeil_input1{
    font-size: 14px;
    color: red;
}.emeil_input2{
    font-size: 14px;
    color: red;
    padding-bottom: 40px;
}.emeil_input3{
    font-size: 14px;
    color: red;
}.emeil_input4{
    font-size: 14px;
    color: red;
}
@media only screen and (max-width:600px){
    .emeil_input1,
    .emeil_input2,
    .emeil_input3,
    .emeil_input4{
        margin: 0.7rem;
    }
}