.module-papka-in-5{
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 1px solid #e3e6ee;
}
.modul-papka-in-name{
    color: #303b50;
}
.id-papka-in-number{
    color: #303b50;
}